In [166]:
#importing relevant libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import xgboost as xgb

In [167]:
#importing data
merc_train=pd.read_csv('train.csv')
merc_test=pd.read_csv('test.csv')

In [168]:
merc_train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [169]:
merc_test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [170]:
#Separating features and target
x=merc_train.drop(['ID','y'],axis=1) #ID column does not have any impact.
y=merc_train['y']

In [171]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 376 entries, X0 to X385
dtypes: int64(368), object(8)
memory usage: 12.1+ MB

###### From the x.info(),it can be concluded that the number of categorical values are 8 ,variables raninging from X0-X8
###### --------

In [172]:
#Getting unique values from integer feature columns
integer_cols=list(set(x.columns)-set(['X0','X1','X2','X3','X4','X5','X6','X8'])) #Separating integers columns
unique_val=[]
for col in x[integer_cols]:
    unique_val.append(x[col].unique())
    
unique_val=set(frozenset(i) for i in unique_val) #Removing duplicate values
unique_val=list(map(list,unique_val)) #converting frozenset to list
print('unique values:',unique_val,end='\n--------\n') 


#printing feature columns
columns1=[]
columns2=[]
for col in x[list(integer_cols)]:
    if x[col].unique().tolist()==unique_val[0]: #feature columns with [0,1] as unique values
        columns1.append(col)
    if x[col].unique().tolist()==unique_val[1]: #feature columns with [0] as unique value
        columns2.append(col)

print('Feature columns containing unique values:{0}\n{1}'.format((unique_val[0]),(columns1)),end='\n\n')
print('Feature columns containing unique values:{0}\n{1}'.format((unique_val[1]),(columns2)))

unique values: [[0, 1], [0]]
--------
Feature columns containing unique values:[0, 1]
['X333', 'X228', 'X256', 'X164', 'X177', 'X42', 'X342', 'X109', 'X190', 'X212', 'X326', 'X374', 'X10', 'X224', 'X245', 'X310', 'X382', 'X352', 'X78', 'X160', 'X108', 'X379', 'X56', 'X20', 'X147', 'X183', 'X322', 'X277', 'X45', 'X304', 'X363', 'X159', 'X171', 'X343', 'X166', 'X123', 'X272', 'X54', 'X105', 'X60', 'X186', 'X216', 'X155', 'X66', 'X360', 'X351', 'X151', 'X202', 'X257', 'X355', 'X124', 'X176', 'X125', 'X43', 'X341', 'X158', 'X23', 'X328', 'X173', 'X113', 'X110', 'X197', 'X14', 'X299', 'X357', 'X271', 'X211', 'X77', 'X41', 'X76', 'X34', 'X200', 'X71', 'X251', 'X88', 'X81', 'X38', 'X247', 'X87', 'X282', 'X27', 'X221', 'X96', 'X332', 'X47', 'X94', 'X267', 'X248', 'X283', 'X17', 'X90', 'X252', 'X83', 'X15', 'X168', 'X331', 'X335', 'X210', 'X340', 'X338', 'X50', 'X174', 'X274', 'X62', 'X122', 'X117', 'X79', 'X246', 'X198', 'X308', 'X376', 'X40', 'X223', 'X80', 'X208', 'X380', 'X143', 'X163', 'X225', 'X28', 'X132', 'X226', 'X29', 'X229', 'X191', 'X364', 'X178', 'X309', 'X95', 'X278', 'X255', 'X358', 'X265', 'X280', 'X33', 'X182', 'X44', 'X100', 'X207', 'X305', 'X180', 'X244', 'X172', 'X371', 'X157', 'X51', 'X129', 'X206', 'X19', 'X319', 'X59', 'X337', 'X236', 'X302', 'X213', 'X84', 'X133', 'X259', 'X218', 'X67', 'X89', 'X24', 'X239', 'X313', 'X91', 'X139', 'X57', 'X39', 'X344', 'X345', 'X115', 'X242', 'X112', 'X138', 'X185', 'X367', 'X140', 'X298', 'X205', 'X73', 'X383', 'X325', 'X175', 'X48', 'X12', 'X98', 'X152', 'X192', 'X217', 'X92', 'X260', 'X336', 'X301', 'X127', 'X196', 'X311', 'X373', 'X104', 'X102', 'X287', 'X284', 'X201', 'X154', 'X69', 'X292', 'X241', 'X314', 'X339', 'X199', 'X366', 'X264', 'X375', 'X368', 'X86', 'X315', 'X195', 'X238', 'X353', 'X148', 'X317', 'X222', 'X384', 'X162', 'X270', 'X349', 'X378', 'X30', 'X362', 'X135', 'X167', 'X294', 'X181', 'X323', 'X359', 'X16', 'X232', 'X214', 'X231', 'X227', 'X295', 'X153', 'X32', 'X369', 'X312', 'X258', 'X161', 'X126', 'X254', 'X300', 'X36', 'X276', 'X288', 'X26', 'X230', 'X55', 'X370', 'X75', 'X253', 'X281', 'X99', 'X291', 'X169', 'X101', 'X63', 'X320', 'X65', 'X269', 'X356', 'X49', 'X134', 'X318', 'X145', 'X279', 'X321', 'X97', 'X348', 'X261', 'X141', 'X250', 'X82', 'X219', 'X243', 'X365', 'X307', 'X215', 'X165', 'X350', 'X130', 'X240', 'X296', 'X53', 'X372', 'X52', 'X103', 'X385', 'X203', 'X106', 'X346', 'X61', 'X286', 'X64', 'X146', 'X22', 'X249']

Feature columns containing unique values:[0]
['X93', 'X11', 'X107', 'X297', 'X293', 'X290', 'X330', 'X233', 'X268', 'X235', 'X347', 'X289']

In [173]:
#Removing feature columns with zero variance


df=x[integer_cols].loc[:,x[integer_cols].var()==0] #Dataframe with feature columns showing no variance(variance=0)
print('subset dataframe with zero variance:\n',df)
no_variance=list(df.columns) #extracting columns'name with zero variance
print('columns with 0 variance:',no_variance)
x.drop(no_variance,axis=1,inplace=True)# Removing columns with zero variance

subset dataframe with zero variance:
       X93  X11  X107  X297  X293  X290  X330  X233  X268  X235  X347  X289
0       0    0     0     0     0     0     0     0     0     0     0     0
1       0    0     0     0     0     0     0     0     0     0     0     0
2       0    0     0     0     0     0     0     0     0     0     0     0
3       0    0     0     0     0     0     0     0     0     0     0     0
4       0    0     0     0     0     0     0     0     0     0     0     0
...   ...  ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
4204    0    0     0     0     0     0     0     0     0     0     0     0
4205    0    0     0     0     0     0     0     0     0     0     0     0
4206    0    0     0     0     0     0     0     0     0     0     0     0
4207    0    0     0     0     0     0     0     0     0     0     0     0
4208    0    0     0     0     0     0     0     0     0     0     0     0

[4209 rows x 12 columns]
columns with 0 variance: ['X93', 'X11', 'X107', 'X297', 'X293', 'X290', 'X330', 'X233', 'X268', 'X235', 'X347', 'X289']

### Columns with zero variance removed
### ------

In [174]:
#Checking for null values in train and test data
print(x.isnull().sum().sum(),y.isna().sum(),merc_test.isnull().sum().sum(),sep='\n')

0
0
0

### No null values present in the train and test data

# ----

In [175]:
# label encoding categoprical values

for i in ['X0','X1','X2','X3','X4','X5','X6','X8']: #categorical columns
    LE=LabelEncoder()
    x[i]=LE.fit_transform(x[i]) #apply label encoding

print(x[['X0','X1','X2','X3','X4','X5','X6','X8']]) #printing label encoded values of categorical columns

      X0  X1  X2  X3  X4  X5  X6  X8
0     32  23  17   0   3  24   9  14
1     32  21  19   4   3  28  11  14
2     20  24  34   2   3  27   9  23
3     20  21  34   5   3  27  11   4
4     20  23  34   5   3  12   3  13
...   ..  ..  ..  ..  ..  ..  ..  ..
4204   8  20  16   2   3   0   3  16
4205  31  16  40   3   3   0   7   7
4206   8  23  38   0   3   0   6   4
4207   9  19  25   5   3   0  11  20
4208  46  19   3   2   3   0   6  22

[4209 rows x 8 columns]

### Applied Label Encoding on categorical feature columns
### --------

In [203]:
# For dimensionality reduction applying PCA(Principal Component Analysis)
from sklearn.decomposition import PCA
pca=PCA(n_components=10) #taking 10 principal components for dimensionality reduction
x_trans=pca.fit_transform(x) #fitting and transforming features

In [204]:
print(pca.explained_variance_ratio_) # explained variance of the 10 principal components

print('\nTotal variance on the output caused by all 10 principal components together is: {}%'.format(round((sum(pca.explained_variance_ratio_)*100),3)) )

[0.38334782 0.21388033 0.13261866 0.11826642 0.09206008 0.01590604
 0.0074454  0.00433701 0.00294021 0.00241796]

Total variance on the output caused by all 10 principal components together is: 97.322%

### Applied Dimenstionality reduction on the features
### --------

In [205]:
#Splitting training and testing data
x_train,x_test,y_train,y_test=train_test_split(x_trans,y,test_size=0.25,random_state=16)

In [206]:
###XGBRegressor parameters:
#objective:regularized linear regression
#evalutaion metric=rmse
#n_estimators=800
#early stopping rounds=80(10% of n_estimators)
#learning rate=10%

In [207]:
#Since the the target varaible(y) is continous,regression must be performed for prediction
#Finding optimal number of n_estimators
xgbmodel=xgb.XGBRegressor(objective='reg:squarederror',eval_metric='rmse',n_estimators=800,early_stopping_rounds=80,learning_rate=0.1,random_state=16)

xgbmodel.fit(x_train,y_train,eval_set=[(x_test,y_test)])

[0]	validation_0-rmse:90.97558
[1]	validation_0-rmse:82.00085
[2]	validation_0-rmse:73.96640
[3]	validation_0-rmse:66.73643
[4]	validation_0-rmse:60.24603
[5]	validation_0-rmse:54.41054
[6]	validation_0-rmse:49.17634
[7]	validation_0-rmse:44.48262
[8]	validation_0-rmse:40.27932
[9]	validation_0-rmse:36.50683
[10]	validation_0-rmse:33.15111
[11]	validation_0-rmse:30.14568
[12]	validation_0-rmse:27.46069
[13]	validation_0-rmse:25.07562
[14]	validation_0-rmse:22.97338
[15]	validation_0-rmse:21.12299
[16]	validation_0-rmse:19.46181
[17]	validation_0-rmse:17.99291
[18]	validation_0-rmse:16.73097
[19]	validation_0-rmse:15.59243
[20]	validation_0-rmse:14.62631
[21]	validation_0-rmse:13.78661
[22]	validation_0-rmse:13.06381
[23]	validation_0-rmse:12.45806
[24]	validation_0-rmse:11.92603
[25]	validation_0-rmse:11.49262
[26]	validation_0-rmse:11.11828
[27]	validation_0-rmse:10.80243
[28]	validation_0-rmse:10.53835
[29]	validation_0-rmse:10.34113
[30]	validation_0-rmse:10.16028
[31]	validation_0-rmse:10.01179
[32]	validation_0-rmse:9.90004
[33]	validation_0-rmse:9.80170
[34]	validation_0-rmse:9.71618
[35]	validation_0-rmse:9.63429
[36]	validation_0-rmse:9.58844
[37]	validation_0-rmse:9.55121
[38]	validation_0-rmse:9.52049
[39]	validation_0-rmse:9.49487
[40]	validation_0-rmse:9.48230
[41]	validation_0-rmse:9.46871
[42]	validation_0-rmse:9.46635
[43]	validation_0-rmse:9.45393
[44]	validation_0-rmse:9.43849
[45]	validation_0-rmse:9.43343
[46]	validation_0-rmse:9.43573
[47]	validation_0-rmse:9.43236
[48]	validation_0-rmse:9.42738
[49]	validation_0-rmse:9.42794
[50]	validation_0-rmse:9.42353
[51]	validation_0-rmse:9.41776
[52]	validation_0-rmse:9.42453
[53]	validation_0-rmse:9.42953
[54]	validation_0-rmse:9.43775
[55]	validation_0-rmse:9.43734
[56]	validation_0-rmse:9.43972
[57]	validation_0-rmse:9.43560
[58]	validation_0-rmse:9.43656
[59]	validation_0-rmse:9.42923
[60]	validation_0-rmse:9.42837
[61]	validation_0-rmse:9.42728
[62]	validation_0-rmse:9.43021
[63]	validation_0-rmse:9.42997
[64]	validation_0-rmse:9.43046
[65]	validation_0-rmse:9.42980
[66]	validation_0-rmse:9.42806
[67]	validation_0-rmse:9.42750
[68]	validation_0-rmse:9.43254
[69]	validation_0-rmse:9.43057
[70]	validation_0-rmse:9.43298
[71]	validation_0-rmse:9.44281
[72]	validation_0-rmse:9.44743
[73]	validation_0-rmse:9.43974
[74]	validation_0-rmse:9.44548
[75]	validation_0-rmse:9.44553
[76]	validation_0-rmse:9.44861
[77]	validation_0-rmse:9.44832
[78]	validation_0-rmse:9.44966
[79]	validation_0-rmse:9.45230
[80]	validation_0-rmse:9.45540
[81]	validation_0-rmse:9.45899
[82]	validation_0-rmse:9.46458
[83]	validation_0-rmse:9.47100
[84]	validation_0-rmse:9.47127
[85]	validation_0-rmse:9.47058
[86]	validation_0-rmse:9.47262
[87]	validation_0-rmse:9.46883
[88]	validation_0-rmse:9.46796
[89]	validation_0-rmse:9.47425
[90]	validation_0-rmse:9.47732
[91]	validation_0-rmse:9.48175
[92]	validation_0-rmse:9.48267
[93]	validation_0-rmse:9.48246
[94]	validation_0-rmse:9.48220
[95]	validation_0-rmse:9.48093
[96]	validation_0-rmse:9.48364
[97]	validation_0-rmse:9.49043
[98]	validation_0-rmse:9.49404
[99]	validation_0-rmse:9.49775
[100]	validation_0-rmse:9.49751
[101]	validation_0-rmse:9.49872
[102]	validation_0-rmse:9.50092
[103]	validation_0-rmse:9.50028
[104]	validation_0-rmse:9.50324
[105]	validation_0-rmse:9.50504
[106]	validation_0-rmse:9.50992
[107]	validation_0-rmse:9.51115
[108]	validation_0-rmse:9.50963
[109]	validation_0-rmse:9.51030
[110]	validation_0-rmse:9.51037
[111]	validation_0-rmse:9.51430
[112]	validation_0-rmse:9.52625
[113]	validation_0-rmse:9.52734
[114]	validation_0-rmse:9.52593
[115]	validation_0-rmse:9.52427
[116]	validation_0-rmse:9.51822
[117]	validation_0-rmse:9.51987
[118]	validation_0-rmse:9.52154
[119]	validation_0-rmse:9.52087
[120]	validation_0-rmse:9.52244
[121]	validation_0-rmse:9.52502
[122]	validation_0-rmse:9.52596
[123]	validation_0-rmse:9.52551
[124]	validation_0-rmse:9.52979
[125]	validation_0-rmse:9.53024
[126]	validation_0-rmse:9.53403
[127]	validation_0-rmse:9.53728
[128]	validation_0-rmse:9.53443
[129]	validation_0-rmse:9.53678
[130]	validation_0-rmse:9.53489

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=80, enable_categorical=False,
             eval_metric='rmse', gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.1, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=800, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=16,
             reg_alpha=0, reg_lambda=1, ...)

In [208]:
#Printing scores of optimal iteration
print('Best model score: {}\nBest iteration round: {}\nBest tree limit: {}'.format((xgbmodel.best_score),(xgbmodel.best_iteration),(xgbmodel.best_ntree_limit)))

Best model score: 9.417760147899532
Best iteration round: 51
Best tree limit: 52

In [209]:
optimal_tree_limit=xgbmodel.best_ntree_limit

In [210]:
#Making new xgboost regressor with best tree limit as n_estimators
xgbmodel=xgb.XGBRegressor(objective='reg:squarederror',n_estimators=optimal_tree_limit)
xgbmodel.fit(x_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=52, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [211]:
y_pred=xgbmodel.predict(x_test) #predicting target values
print('rmse: ',np.sqrt(mean_squared_error(y_test,y_pred)))
print(0.1*y_train.mean())

rmse:  9.66621783299739
10.064689797211656

#### rmse of the model is less than 10% of the mean of the target.This indicates model is performing good.
#### -----

In [212]:
#predicted values
prediction_df=pd.DataFrame(data=y_pred,columns=['prediction'])

### Predicted values below

In [213]:
prediction_df

      prediction
0      95.692062
1     112.125778
2     100.421837
3     113.255753
4      97.838516
...          ...
1048   96.949890
1049   98.842651
1050   90.835312
1051   92.625420
1052   92.716393

[1053 rows x 1 columns]

In [214]:
from sklearn.metrics import r2_score

In [215]:
r2_score(y_test,y_pred)

0.3498779293116404